<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>メーカ一覧</title>
	<style>
		/* クリック可能な行のスタイル */
		.clickable-row {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<h1>メーカ一覧</h1>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>店舗名</th>
				<th>詳細</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="manufacturer : ${manufacturers}" th:class="'clickable-row'" th:data-id="${manufacturer.id}" onclick="redirectToDetail(this)">
			                <td th:text="${manufacturer.id}"></td>
			                <td th:text="${manufacturer.manufacturer_name}"></td>
			                <td>
			                    <button type="button" class="btn btn-primary">詳細</button>
			                </td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/admin/manufacturers/register}">新規登録</a>
	<a th:href="@{/admin/top}">TOPに戻る</a>

	<script th:inline="javascript">
	        function redirectToDetail(row) {
	            var manufacturerId = row.getAttribute('data-id');
	            window.location.href = '/admin/manufacturers/' + manufacturerId;
	        }
	    </script>
</body>

</html>