<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>小カテゴリー一覧</title>
    <style>
        /* クリック可能な行のスタイル */
        .clickable-row {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>小カテゴリー一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>カテゴリー名</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="small_category : ${small_categories}" th:class="'clickable-row'" th:data-id="${small_category.id}"
                onclick="redirectToDetail(this)">
                <td th:text="${small_category.id}"></td>
                <td th:text="${small_category.small_category_name}"></td>
                <td>
                    <button type="button" class="btn btn-primary">詳細</button>
                </td>
            </tr>
        </tbody>
    </table>
	<a th:href="@{/admin/categories/{id}(id=${categoryId})}">中カテゴリーに戻る</a>


    <script th:inline="javascript">
        function redirectToDetail(row) {
            var small_categoryId = row.getAttribute('data-id');
			var categoryId = /*[[${categoryId}]]*/ null;
			var subCategoryId = /*[[${subCategoryId}]]*/ null;
            window.location.href = '/admin/categories/' + categoryId + '/'  +  subCategoryId + '/'  +  small_categoryId;
        }
    </script>

	
</body>

</html>
